/*********************************
SEARCH BAR
*********************************/ 

h2{
    margin: 0em 0.8em;
    padding: 0em 0.5em;
    color: var(--clr-primary)
}

hr{
    margin: 0.8em 0.5em;
}
.verAltaProducto{
    display: inline-block;
}

.noVerAltaProducto{
    display: none;
}

.seccionAlta-modal--visible{
    display: inline-block;
}

.verEdicionProducto{
    display: inline-block;
}

.noVerEdicionProducto{
    display: none;
}

.verConsultaProducto{
    display: inline-block;
}

.noVerConsultaProducto{
    display: none;
}

.sumar-producto {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 .3em;
    
    visibility: none;

    &__imagen {
        display: inline-block;
        // background-image: url(../img/Connecticus_01_h35w270.png);
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        width: 300px;
        height:30px;
        padding: 1.6em 1em;
        border: 1px solid #ccc;
    }    
    
    &__form-container {
        display: flex;
        flex-direction: row;
        //flex-basis: 100%;
        justify-content: space-around;
        padding: 0.3em 0.3em;
    }    
    
    &__form-search {
        width: 100%;
    }   
}        

.detalleAlta { 
    
        display:flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        background-color: #fff;
        align-items: center;
        width: 95%;
        margin: 0.3em auto;
        padding:0.3em;
        font-family: "Poppins", sans-serif;
        font-size: 0.8em;
        visibility: none;
    &__visible {
        visibility: visible;
    }
    
    &__MensajeError {
        visibility: visible;
        color:red;
    }

    &:nth-of-type(even){
        background-color: rgba(180, 180, 180, 0.5);
    }
    &__imagen{
        // max-width: 20%;
        margin: 0.3em;
        border: 1px solid #fff;
        padding: 0.1em;
    }

    &__imagenDetalle{
        display:block;
        margin: 0 auto;
        width: 200px;
        height: 150px;
        background-image: url(../../img/200x150.jpg);
        background-size: cover;
    }
    
    .detalleAlta__label{
        box-sizing: border-box;
        border: none;
        max-width: 100px;
        border-bottom: 1px solid darkgray;
        background-color: transparent;
        padding: 3px 5px;
        margin-bottom: 5px;
        font-size: 0.9em;
        color: red;
    }

    label {
        box-sizing: border-box;
        border: none;
        width: 100%;
        border-bottom: 1px solid darkgray;
        background-color: transparent;
        padding: 3px 5px;
        margin-bottom: 5px;
        font-size: 0.9em;
    }

    input {
        box-sizing: border-box;
        border: none;
        width: 100%;
        border-bottom: 1px solid darkgray;
        background-color: transparent;
        padding: 3px 5px;
        margin-bottom: 5px;
        font-size: 0.9em;
    }

    textarea {
        box-sizing: border-box;
        width: 90%;
        border: none;
        border-bottom: 1px solid darkgray;
        background-color: transparent;
        width: 100%;
        height: 5em;
        padding: 3px 5px;
        margin-bottom: 5px;
        font-size: 0.9em;
        resize: none;
    }

    &__contenido {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 1em ;
        padding: 0.3 em;

        &-titulo {
            width: 100%;
            margin: 0.5em auto;
            padding:0.5em;
            display: flex;
            justify-content: space-between;
            flex-flow: row;
            flex-basis: 100%;
            flex-grow: 100%;
            border: none;
            border-bottom: 1px solid #ccc;
            font-weight: 700;
        }
        
        &-descripcion {
            width: 100%;
            display: flex;
            
            padding:0.5em 0;
            justify-content: space-between;
            flex-flow: row;
            flex-basis: 100%;
            flex-grow: 100%;
            font-size: 0.9em;
            border: none;
            border-bottom: 1px solid #ccc;

            

        }
        
        &-pu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-flow: row;
            flex-basis: 100%;
            flex-grow: 100%;
        }
    }
    
    .detalleAlta_variables{
        // max-width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // width: 120px;
        text-align: center;
    }
    
    .detalleAlta_variables-titulo {
        border-bottom: 1px solid rgba(136, 132, 132, 0.5);
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        font-family: "Poppins", sans-serif;
        font-size: 0.9em;
        font-weight: 500;
    }
    .detalleAlta_variables-cantidad{
        text-align: center;
    }
    .detalleAlta_contenido-st {
        border-top: 1px solid rgba(136, 132, 132, 0.5);
        margin-top: 0.5em;
        padding-top: 0.5em;
        font-size: 0.9em;
        font-weight: 600;
        text-align: center;
        
    }
    .accionesAlta{
        //display: block;
        text-align: center;
        font-size: 1.3em;
        color: #333;
        margin: 0 0.5em;
    }
    
    .accionesAlta:hover {
        color: rgb(116, 28, 28);
    //     font-size: 1.7em;
        cursor: pointer;
    }


}


.sumar-producto input[type=text],
.sumar-producto input[type=search],
#TipoProducto {
    float: right;
    padding: 0.2em 1em !important;
    border: none;
    border-bottom: 2px solid var(--clr-secondary);
    margin-right: 1em;
    font-size: .9em;
    color: var(--clr-dark-gray);
}

.sumar-producto__form-container button {
    // solo lupa
    float: right;
    padding: .2em;
    margin-right: .5em;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    color: var(--clr-secondary);
}

// Primer ajuste de media para generar espacio y mantener el logo largo
// El buscador sigue en línea, solo extraigo las categorías
@media (max-width: 950px){
    #TipoProducto {
        display: none;
    }   
}  

// @media (min-width: 320px) and (max-width: 768px) {
@media (max-width: 768px) {
    // Modifico el logo por la versión corta
    .sumar-producto__logo-container {
        // display: inline-flex;
        background-image: url(../img/NN_02_h35w42.png);
        background-repeat: no-repeat;
        width: 100px;
    }    

    // Saco la línea de bienvenida
    // .main-header__linea-bienvenida{
    //     display: none;
    // }

    // Prefiero ocultar solo las redes sociales... la promo es importante 
    .topRedesSociales{
        display: none;
    }
}    

@media (max-width: 425px) {
    // Oculto todo el buscador
    .sumar-producto__form-container {
        display: none;
    }
    // Saco la línea de bienvenida completa
    .main-header__linea-bienvenida{
        display: none;
    }    
}
