<div class="container-alta">
    <hr>
    <h2>CRUD | Alta, Baja, Modificación y Consulta</h2>
    <hr>
    
    <article class="article_alta">
        <section class="aside_alta">
            <div>Productos</div>
            <div>Usuarios</div>
        </section>

        <section class="container-alta">
            <!-- Sección Alta de Producto -->
            <section id="FormularioDeAltaProducto" class="noVerAltaProducto">
                <form autocomplete="off" class="sumar-producto" id="formAltaProducto">
                    <div class="detalleAlta detalleAlta__visible">
                        <div class="detalleAlta__imagen">
                            <img   class="detalleAlta__imagenDetalle"  src="/img/200x150.jpg"> 
                            <input class="detalleAlta__input" id="imagen" type="text" placeholder="Ingresar la imagen">
                            <span class="Mensaje"></span>
                        </div>
                        <div class="detalleAlta__contenido">
                            <div class="detalleAlta__contenido-titulo">
                                <label class="detalleAlta__label" for="nombre">Nombre: </label>
                                <input id="nombre" type="text" placeholder="Nombre del producto" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                            
                                <label class="detalleAlta__label" for="categoria">Categoría: </label>
                                <input id="categoria" type="text" placeholder="Categoría" class="detalleAlta__input" list="ListaCate">
                                <span class="Mensaje"></span>
                            </div>

                            <div class="detalleAlta__contenido-descripcion">
                                <input id="descripcion" type="textarea" width="" placeholder="Descripción detallada del producto" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                            </div>
                            <div class="detalleAlta__contenido-descripcion importes">
                                
                                <label class="detalleAlta__label" for="precioLista">$Lista: </label>
                                    <input id="precioLista" type="text" placeholder="Precio Lista" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                                <label class="detalleAlta__label" for="precioDto">$Descuento: </label>
                                    <input id="precioDto" type="text" placeholder="Precio Promo" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                            </div>
                            <div class="detalleAlta__contenido-descripcion importes">

                                <label class="detalleAlta__label" for="evaluacion">Evaluación: </label>
                                    <input id="evaluacion" type="text" placeholder="Valoración" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                                
                                <label class="detalleAlta__label" for="evaluadores">Evaluadores: </label>
                                    <input id="evaluadores" type="text" placeholder="Num total evaluadores" class="detalleAlta__input">
                                <span class="Mensaje"></span>
        
                                <label class="detalleAlta__label" for="stock">Stock: </label>
                                    <input id="stock" type="text" placeholder="Stock / existencia" class="detalleAlta__input">
                                <span class="Mensaje"></span>

                            </div>
                            <div class="detalleAlta__contenido-descripcion">

                                <label class="detalleAlta__label" for="observacion01">Observaciones: </label>
                                <input id="observacion01" type="text" placeholder="Observación 01" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                                <input id="observacion02" type="text" placeholder="Observación 02" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                                <input id="observacion03" type="text" placeholder="Observación 03" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                                <input id="esPromo" type="checkbox" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                            </div>
                            <div class="detalleAlta__contenido-descripcion">
                                <input id="HtmlDesc" type="textarea" width="" placeholder="Descripción HTML" class="detalleAlta__input">
                                <span class="Mensaje"></span>
                            </div>

                        </div>
                        <div class="detalleAlta_variables">
                            <div class="detalleAlta_variables-titulo">Acciones</div>
                            <div class="detalleAlta_variables-cantidad">
                                <div class="accionesAlta" >
                                    <button class="restar fa fa-plus-square" style="border:none; font-size:1.2em; color:darkblue;cursor:pointer;"></button>
                                    <div class="restar fa fa-minus-square" style="border:none; font-size:1.2em; color:darkred;cursor:pointer;"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
                <datalist id="ListaCate">
                    <option value = "Celulares">
                    <option value = "Drones">
                    <option value = "Fotografía">
                    <option value = "Ordenadores">
                    <option value = "Sonido">
                    <option value = "TV">
                    <option value = "Otros">
                </datalist>
            </section>
            
            <section class="listado-productos">
                <!-- Acá va el listado Handelbars de productos -->
                <div id="listado-productos"></div>
            </section>
        <br>
        <br>
        </section>
    </article>






