<main class="contacto" >
    <h1 class="contacto_titulo">Contactame</h1>
    <div class="contacto_parrafo">
        Si te gustaría que conversemos sobre tu próximo proyecto, o simplemente conocernos, llamanos o escribinos al <em>(+54 11) 5832 5218</em>.
    </div>
    <div class="contacto_parrafo">
        Nuestro horario preferido para atenderte será de lunes a viernes de 9am-6pm, pero si estos horarios no te resultan convenientes, contactanos por otro medio para coordinar el mejor momento.
    </div>
    <form action="_post" class="contacto_form">
        <p class="contacto-input-text">
            <label for="contact_name">Nombre</label>
            <input type="text" name="contact_name" id="contact_name" placeholder="Nombre" autocomplete="off" required>
        </p>
        <p class="contacto-input-text">
            <label for="contact_email">E-mail</label>
            <input type="email" name="contact_email" id="contact_email" placeholder="E-mail" autocomplete="off" required>
        </p>
        <p class="contacto-input-text">
            <label for="contact_telefono">Teléfono</label>
            <input type="tel" name="contact_telefono" id="contact_telefono" placeholder="Teléfono (+54 11) 5555-5555" autocomplete="off" required>
        </p>
        <p class="contacto-input-text">
            <label for="contact_message" style=" vertical-align: middle;">Mensaje</label>
            <textarea name="contact_message" id="contact_message" cols="40" rows="10" placeholder="Mensaje" autocomplete="off" required></textarea>
        </p>
        <p class="contacto-input-optin">
            <input type="checkbox" name="optin" id="optin" checked>
            <label for="optin">Nos encantaría contactarte cada tanto, con algunas propuestas, novedades y hasta invitaciones a eventos que creemos pueden ser de tu interés. <br>Si estás de acuerdo, te pedimos que tildes en esta casilla. <br>Te recordamos que en todas nuestras piezas de comunicación comercial tenés un boton para desuscribirte, cuando lo desees</label>
        </p>
        <div class="contacto-bloque-btn">
            <button type="submit" class="contacto-btn-form">Enviar</button>
        </div>
    </form>
    
    <div class="bootcamp-tecnologias pd30_0 mt50">
        <div class="posr max-width-page width-page mauto fs16">
            
            <h2 class="fs40 c52 fwN mt0 sm-fs24 mb0">Tecnologías utilizadas</h2>
            
            <div class="tecno-logos">
                <span id="tecno-left" class=""></span>
                <div class="dFlexC">
                    <img src="../img/logosTech/html5.svg" width="55" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/css3.svg" width="55" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/sass.svg" width="80" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/less.svg" width="90" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/javascript.svg" width="70" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/nodejs.svg" width="100" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/mongodb.svg" width="125" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/git.svg" width="100" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/vscode.svg" width="120" class="mw100p mauto mr20" />
                    <img src="../img/logosTech/heroku.svg" width="120" class="mw100p mauto mr20" />
                </div>
                <span id="tecno-right" class="icon-right posa fs30"></span>
            </div>
        </div>
    </div>
 
    <div class="contacto"></div>

</main>