
        <!--    Espacio para el slider - Hasta 6 elementos 
            tomado de https://codepen.io/siiron/pen/QWwLoMy
            Ronny Siikaluoma
        -->

<div class="container">
    <h1>Promociones destacadas del mes!</h1>
    <div >
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">

            <!-- desde acá -->
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="img/productos/JBL_PartyBox300_Black_Lifestyle01.webp" alt="JBL | Party Box 300" title="JBL | Party Box 300">
                        </div>
                        <figcaption>
                            <h3>JBL PartyBox 300</h3>
                            <p class="credit">Altavoz Bluetooth portátil para fiestas con efectos de luz</p>
                            <span class="credit">No te quedes sin la FIESTA</span>
                            <span class="credit">Desde USD 400.-</span>
                            <button class="carousel-button">+ info </button>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="img/productos/eos-r5.webp" alt="Canon Eos-R5" title="Canon Eos-R5">
                        </div>
                        <figcaption>
                            <h3>Canon | Eos - R5</h3>
                            <p class="credit">Olvida todo lo que sabías de las cámaras mirrorless. El impecable rendimiento de la EOS R5 revolucionará tu fotografía y vídeo.</p>
                            <span class="credit">Desde: USD 4800.-</span>
                            <button class="carousel-button">+ info </button>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="img/productos/GuitarraFenderStrato.png" alt="Guitarra Fender" title="Guitarra Fender">
                        </div>
                        <figcaption>
                            <h3>Guitarra Fender Stratocaster</h3>
                            <p class="credit">No esperes más para sonar como Jimi Hendrix. Con esta promoción, serás el centro de las fiestas!</p>
                            <span class="credit">Desde: USD 940.-</span>
                            <button class="carousel-button">+ info </button>
                        </figcaption>
                    </figure>
                </li>
            </ul>    
            
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="img/productos/JBL_PartyBox300_Black_Lifestyle01.webp" alt="JBL | Party Box 300" title="JBL | Party Box 300"></label>
                </li>
                <li>
                    <label for="slide-2"><img src="img/productos/eos-r5.webp" alt="Canon Eos-R5" title="Canon Eos-R5"></label>
                </li>
                <li>
                    <label for="slide-3"><img src="img/productos/GuitarraFenderStrato.png" alt="Guitarra Fender" title="Guitarra Fender"></label>
                </li>
            </ul>

            
        </div>
    </div>
</div>