    <div class="separador-beneficios">
        <div class="comun-beneficio" >

                <span class="separador-beneficios__icon">
                    <i class="fa fa-credit-card imagen-beneficios"></i>
                </span>
                <h2>Elegí como pagar tus compras</h2>
                <div>
                    <h3>Más beneficios para vos.</h3>
                    <p>Podés pagar con tarjeta de crédito, tarjeta de débito, efectivo o hasta 12 cuotas con nuestra exclusiva herramienta de crédito.</p>
                </div>

        </div>
        <div class="comun-beneficio">
            <!-- <img src="img/2x/outline_redeem_white_24dp.png" alt="Envío" class="imagen-beneficios"> -->

                <span class="separador-beneficios__icon">
                    <i class="fa fa-archive imagen-beneficios"></i>
                </span>
                <h2>Envío gratis desde $ 2.500</h2>
                <div>
                    <h3>Que el envío no sea un impedimento</h3>
                    <p>Solo por estar registrado con nosotros, tenés envíos gratis en miles de productos. Es un beneficio exclusivo desde tu primer compra.</p>
                </div>

        </div>
        <div class="comun-beneficio">
            <!-- <img src="img/2x/outline_verified_user_white_24dp.png" alt="Envío" class="imagen-beneficios"> -->

                <span class="separador-beneficios__icon">
                <i class="fa fa-shield imagen-beneficios"></i>
                </span>
                <h2>Compra Super Protegida</h2>
                <div>
                    <h3>¿No te gusta? ¿Te quedó chico? ¿Llegó tarde?</h3>
                    <p>¡Devolvelo! Cualquiera sea el motivo, estás protegido.</p>
                </div>

        </div>
    </div>
