        <!-- headings -->  
        <div class="testimonial-heading">
            <!-- <span></span> -->
            <h1>Opiniones de nuestros Clientes</h1>
            <!-- testimonials-box-container -->
            <div class="testimonial-box-container">
                
                <!-- Box-1 -->
                <div class="testimonial-box">
                    <!-- top -->
                    <div class="box-top">
                        <!-- profile -->
                        <div class="profile">
                            <div class="profile-img">
                                <img src="img/capucha.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <strong>Juan Perez</strong>
                                <span>@juanperez</span>
                            </div>
                        </div>
                        <!-- reviews -->
                        <div class="reviews">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                            <i class="fa fa-star-empty"></i>
                        </div>

                    </div>
                        <div class="client-comment">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illo temporibus nisi fugiat obcaecati non veniam harum dicta sint dolore possimus unde voluptatibus earum explicabo, tenetur dolorem rerum! Assumenda velit sint ex itaque fuga natus, ratione, aliquid sit atque tempore impedit, voluptate cumque reiciendis ipsa? Odit totam quis sequi ducimus?</p>
                        </div>
                </div>

                <!-- Box-2 -->
                <div class="testimonial-box">
                    <!-- top -->
                    <div class="box-top">
                        <!-- profile -->
                        <div class="profile">
                            <div class="profile-img">
                                <img src="img/hombrejoven.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <strong>José Lentejuela</strong>
                                <span>@joselentejuela</span>
                            </div>
                        </div>
                        <!-- reviews -->
                        <div class="reviews">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                            
                        </div>

                    </div>
                        <div class="client-comment">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo fugit modi odio dolore molestiae cum accusamus, vel ipsa a. Nulla, natus tempore? Officia odio quam repudiandae delectus sequi molestias ipsam suscipit quaerat aspernatur repellat perferendis, aliquid iure, facilis ea fugit eius consequatur. Magnam, id harum! Voluptas, exercitationem accusantium.</p>
                        </div>
                </div>

                <!-- Box-3 -->
                <div class="testimonial-box">
                    <!-- top -->
                    <div class="box-top">
                        <!-- profile -->
                        <div class="profile">
                            <div class="profile-img">
                                <img src="img/mujerjoven.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <strong>Lorena Colo</strong>
                                <span>@lacolo</span>
                            </div>
                        </div>
                        <!-- reviews -->
                        <div class="reviews">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>

                    </div>
                        <div class="client-comment">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae repellat porro. Temporibus, reprehenderit ipsam quasi nemo delectus quae quas velit sint repudiandae! Culpa numquam totam eos quibusdam eius iste, placeat provident vel minima suscipit ipsam fuga?</p>
                        </div>
                </div>
                
                <!-- Box-4 -->
                <div class="testimonial-box">
                    <!-- top -->
                    <div class="box-top">
                        <!-- profile -->
                        <div class="profile">
                            <div class="profile-img">
                                <img src="img/viajera.jpg" alt="">
                            </div>
                            <div class="name-user">
                                <strong>Maria Viajera</strong>
                                <span>@latrotamundos</span>
                            </div>
                        </div>
                        <!-- reviews -->
                        <div class="reviews">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                        <div class="client-comment">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illo temporibus nisi fugiat obcaecati non veniam harum dicta sint dolore possimus unde voluptatibus earum explicabo, tenetur dolorem rerum! Assumenda velit sint ex itaque fuga natus, ratione, aliquid sit atque tempore impedit, voluptate cumque reiciendis ipsa? Odit totam quis sequi ducimus?</p>
                        </div>
                </div>
            </div>
        </div>
