<main>
    <section class="nosotros-seccion">
        <article class="nosotros-article-1">
            <p class="nosotros-article-1__linea-1">Hola!</p>
            <!-- <p class="nosotros-article-1__linea-2">Gracias por venir a visitarme.</p> -->
            <p class="nosotros-article-1__linea-2">Mi nombre es</p>
            <p class="nosotros-article-1__linea-3">Alejandro</p>
            <p class="nosotros-article-1__linea-4">y ya que pasaste por acá, me presento...</p>
        </article>
        <article>
            <div class="efectodefuminado">
                <div class="efectodefuminado__html">
                    <div class="efectodefuminado__html-body">
                    </div>
                </div>
            </div>
        </article>
        <article class="hobies_01">
            <p  class="grupos">Mis principales Hobbies son:</p>
            <div class="grupos">
                <p>los libros...</p>
                <div class="miniaturas">
                    <img src="img/libros/AngelesYDemonios.jpg" alt="">
                    <img src="img/libros/ElSrDeLosAnillos.webp" alt="">
                    <img src="img/libros/EvangelioSegunJesucristo.jpg" alt="">
                    <img src="img/libros/Patria_RobertHarris.jpg" alt="">
                    <img src="img/libros/Rayuela.jpg" alt="">
                    <img src="img/libros/UnMundoSinFin.webp" alt="">
                </div>
            </div>
            <div class="grupos"> <!-- Películas -->
                
                <p>las películas...</p>
                <div class="miniaturas">
                    <img src="img/Peliculas/a_clockwork_orange-964766200-large.jpg" alt="">
                    <img src="img/Peliculas/alfred_hitchcock_s_the_birds-851609530-large.jpg" alt="">
                    <img src="img/Peliculas/babettes_gaestebud_babette_s_feast-581475962-large.jpg" alt="">
                    <img src="img/Peliculas/der_himmel_uber_berlin_wings_of_desire-748408208-large.jpg" alt="">
                    <img src="img/Peliculas/the_great_dictator-416205081-large.jpg" alt="">
                    <img src="img/Peliculas/the_wall-803804838-large.jpg" alt="">
                </div>
            </div>
            <div class="grupos"> <!-- series -->
                <p>y las series......</p>
                <div class="miniaturas">
                    <img src="img/series/band_of_brothers-541225951-large.jpg" alt="">
                    <img src="img/series/black_mirror_the_national_anthem_tv-511261979-large.jpg" alt="">
                    <img src="img/series/chernobyl-183665235-large.jpg" alt="">
                    <img src="img/series/cosmos_tv_series-224838468-large.jpg" alt="">
                    <img src="img/series/the_big_bang_theory_tv_series-289210943-large.jpg" alt="">
                    <img src="img/series/that_70s_show_tv_series-808278104-large.jpg" alt="">
                </div>
            </div>
            <div class="grupos"> 
                <p>Pero lo que hago todo el tiempo... es escuchar música!!!</p>
                <div class="miniaturas"> 
                    <img src="img/musica/leonard-cohen.jpg" alt="">
                    <img src="img/musica/pink-floyd.webp" alt="">
                    <img src="img/musica/rock-nacional.jpg" alt="">
                    <img src="img/musica/Rollink-Stomes.jpg" alt="">
                    <img src="img/musica/soda-stereo.webp" alt="">
                    <img src="img/musica/vnochi-vakarchuk.jpg" alt="">
                </div>
            </div>
        </article>
    </section>
</main>