.card {
    outline: none;
    flex-grow: 1;
    width: 260px;
    max-width: 300px;
    height: 450px;
    overflow: hidden;
    display: block;
    position: relative;
    isolation: isolate;
    color: #fcfdfe;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2), 0 0 3px rgba(0, 0, 0, .4);
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
    
    &__heading{
        font-size: 1em;
    }

    &__description p {
        font-size: 0.8em;
        height: 2.2em;
        overflow: hidden;
        margin: 0.2em 0;
    }

    &__image {
        margin: 1em;
        background-size: cover;
        height: 200px;
        background-position: center;
        transition: all .2s;
        border: white 3px solid;
    }

    &__barra-producto{
        position: absolute;
        bottom: 205px;
        padding: 3em 1em 1em;
        height: 10px;
        width: 100%;
        z-index: 2;
        transition: ease-in-out .3s;
        background: linear-gradient(-45deg,#26c5f3,#cce269,#3ddab2,#3ddab2,#7c65a9,#69d449,#ed2d53,#30d26e,#cec360,#ced11a,#474ed7);
        background-size: 400% 400%;
        animation: gradient 8s ease-in-out infinite;
        border-bottom: 1px solid var(--clr-white);
        border-top: 3px solid var(--clr-white);
    }

    &__inner-content {
        bottom: 30;
        padding: 3em 1em 1em;
        height: 185px;
        width: 100%;
        z-index: -2;
        transition: all .2s;        
        background-color: rgba(0, 0, 0, 0.5);
        padding: .5em;
    }

    &__content {
        position: absolute;
        bottom: 0;
        padding: 3em 1em 1em;
        height: 250px;
        width: 100%;
        z-index: -2;
        transition: all .2s;
    }
    &__content-value{
        font-size: .7em;
        padding-top: .3em;
    }

    &__content-price{
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 1em auto 0;
        &-reg{
            color: var(--clr-dark-gray);
            padding:.3em;
            font-size: 0.8em;
            &::after{
                content:" c/u."
            }
        }
        &-disc{
            color: var(--clr-white);
            background-color: var(--clr-red);
            padding:.2em;
            font-size: 1em;
            font-weight: bold;
            &::after{
                content:" c/u."
            }
        }
    }
    

    &__content-value_1::before{
        content: "⭐";
    }
    &__content-value_2::before{
        content: "⭐⭐";
    }
    &__content-value_3::before{
        content: "⭐⭐⭐";
    }
    &__content-value_4::before{
        content: "⭐⭐⭐⭐";
    }
    &__content-value_5::before{
        content: "⭐⭐⭐⭐⭐";
    }

    &:nth-child(10n + 1) &__content {
        background-image: linear-gradient(to top, #b429f9, #26c5f3);
    }

    &:nth-child(10n + 2) &__content {
        background-image: linear-gradient(to top, #af1239, #cce269);    
    }

    &:nth-child(10n + 3) &__content {
        background-image: linear-gradient(to top, #0b3866, #3ddab2);    
    }

    &:nth-child(10n + 4) &__content {
        background-image: linear-gradient(to top, #f40752, #7c65a9);
    }

    &:nth-child(10n + 5) &__content {
        background-image: linear-gradient(to top, #1c3b41, #69d449);    
    }

    &:nth-child(10n + 6) &__content {
        background-image: linear-gradient(to top, #0a5df8, #ed2d53);    
    }

    &:nth-child(10n + 7) &__content {
        background-image: linear-gradient(to top, #661069, #30d26e);    
    }

    &:nth-child(10n + 8) &__content {
        background-image: linear-gradient(to top, #702b19, #cec360);    
    }

    &:nth-child(10n + 9) &__content {
        background-image: linear-gradient(to top, #034a66, #ced11a);    
    }

    &:nth-child(10n + 10) &__content {
        background-image: linear-gradient(to top, #ec458d, #474ed7);    
    }
    
    
    &:hover &__barra-producto,
    &:focus &__barra-producto{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 1.5em 0;
        flex-basis: 100%;
    }

    
    &__barra-producto{
        display: none;
    }
    
    &__barra-producto__mas-info,
    &__barra-producto__deseos,
    &__barra-producto__comprar{
        font-size: .8em;
        min-width: 5em;
        padding: 0.5em;
        text-align: center;
        color: var(--clr-white);
        cursor: pointer;
        &:hover,
        &:focus{
            flex-grow: 1;
            background-color: transparent;
            animation: spin 2s infinite linear;
            &::after{
                color: var(--clr-white);
                padding: 0.3em;
                margin: 0.3em;
            }
        }
    }

    &__barra-producto__mas-info:hover::after,
    &__barra-producto__mas-info:focus::after
    {
        content: " | más info";
    }

    &__barra-producto__deseos:hover::after,
    &__barra-producto__deseos:focus::after{
        content: " | mis deseos";
    }

    &__barra-producto__comprar:hover::after,
    &__barra-producto__comprar:focus::after{
        content: " | comprar";
    }

    &__content-atributo {
        margin-top:0.5em;
        font-size: 0.7em;
        display: flex;
        justify-content: space-around;
        align-content: center;
        & span{
            padding: .2em;
            margin:  .2em;
        }
    }






    
    @media (min-width: 1024px) {
        & {
            min-width: 230px;
        }
    }

    @media (min-width: 1280px) {
        & {
            min-width: 240px;
        }
    }

    @media (min-width: 426px) and (max-width: 768px) {
        & {
            min-width: 100%;
            height: 250px;
        }
        &__article {
            display: flex;
        }
        &__image {
            position: relative;
            
            width: 40%;
            
            // clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        }
        &__content {
            // top: 0;
            padding-left: 45%;
        }

        &__barra-producto{
            position: absolute;
            top: 200px;
            left: 25%;
            
            padding: 3em 1em 1em;
            // height: 10px;
            width: 50%;
        }

        &__inner-content {
            position: absolute;
            top: 1em;
            padding: 1em 1em 1em;
            height: 200px;
            width: 50%;
            z-index: -5;
            transition: all .2s;        
            background-color: rgba(0, 0, 0, 0.5);
            border: 3px solid ;
            padding: .5em;
        }
    

        &__barra-producto{
            display:none;
        }
        &:hover &__barra-producto,
        &:focus &__barra-producto{
            margin: 0;
            padding: 1.3em 0;
    }
    &__barra-producto{
        display: none;
    }
    
    &__barra-producto__mas-info,
    &__barra-producto__deseos,
    &__barra-producto__comprar{
        font-size: .8em;
        min-width: 5em;
        padding: 0.5em;
        text-align: center;
        color: var(--clr-white);
        cursor: pointer;
        &:hover,
        &:focus{
            // flex-grow: 1;
            background-color: transparent;
            animation: spin 2s infinite linear;
            &::after{
                color: var(--clr-white);
                padding: 0.3em;
                margin: 0.3em;
            }
        }
    }
    }
}