.section-cards {
    // background-color: #f1f2f3;
    padding: 1em;
    
    // Quedó en desuso
    &__header-ocultar{
        display: none;
    }
    &__header{
        display: flex;
        justify-content: center;
        padding: 0.8em 0;
        border-bottom: 1px dotted var(--clr-light-gray);
        font-size: 1.0em;
        font-weight: bold;
        color: var(--clr-primary);

    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    background-color: var(--clr-white);
    border: none;
}

@media (min-width: 1200px) {
    .cards-container {
        gap: 2em;
    }
}

.centrar{
    align-items: center;
    align-content: center;
}