form                {    display: table;      }
p                   {    display: table-row;  }
label               {    display: table-cell; }
input               {    display: table-cell; padding-left: 0.2em; margin: 0.6em;}
select              {    display: table-cell; padding-left: 0.2em; margin: 0.6em;}
option              {    display: table-cell; padding-left: 0.2em; margin: 0.6em;}

input [type=submit] {
                    display: table-cell; padding-left: 0.2em; margin: 0.6em;        
                    padding:5px 15px; 
                    background:#ccc; 
                    border: 1px solid;
                    cursor:pointer;
                    -webkit-border-radius: 5px;
                    border-radius: 5px; 
                    text-align: center;
}



.form-alta-container h1
{
    color: var(--clr-white);
    margin: 10px;
}

.inpSection{
    margin: 20px 50px;
    text-align: left;
}
input{
    color: rgba(51, 45, 45, 0.5);
    font-weight: 100;
    outline: none;
    border: none;
    box-shadow: 0 2px 4px rgba(214, 202, 202, 0.05);
    font-size: 14px;
    padding: 15px;
    height: 35px;
    margin: 10px;
    display: flex;
    width: 30vw;
}
.button button{
    border-radius: 8px;
    padding: 10px;
    margin: 10px 110px;
    font-size: 12px;
    font-weight: 650;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(224, 217, 217, 0.5);
}


/*********************************
NAV BAR
*********************************/
// ajustar las dependencias SCSS



.form-alta{
    // * 
    user-select: none;
       // margin: 0;
       // padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    // Body
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
       // background: linear-gradient(90deg, rgba(179,52,178,1) 0%, rgba(182,120,49,1) 28%, rgba(106,68,159,1) 56%, rgba(23,137,190,1) 78%, rgba(0,212,255,1) 100%);
    background-image: url(../../img/abmc-productos/electros_02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    &-container{
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(214, 202, 202, 0.05);
        width: auto;
        min-width: 40em;
        min-height: 40em;
        height: auto;
        // width: 28vw;
        // background: radial-gradient(at center, rgba(214, 202, 202, 0.05), rgba(224, 217, 217, 0.5));
        background: rgba( 192, 125, 125, 0.5 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17px );
        -webkit-backdrop-filter: blur( 17px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    &__nav-bar {
        background-color: rgba(var(--clr-white),.3);
        padding:.5em
        }
        // Definiciones del ul
        &__nav-list {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            // gap: 1em;
            justify-content: center;
        }    
        &__nav-link {
            display: block;
            color: #666;
            padding: 0.3em 2em;
            text-decoration: none;
            margin: .5em 0 0;
            border: solid 3px var(--clr-white);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            &-active,
            .tab button.active {
                // border-bottom: 3px solid  var(--clr-blue);
                // border-bottom: 1px solid var(--clr-blue);
                color: var(--clr-blue);
                text-decoration: underline;
            }
            &:hover {
                // border-bottom: 1px solid var(--clr-orange);
                text-decoration: underline;
                color: var(--clr-orange);
            }
        }
    }    
}
    
    /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .alta-seccion__imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 1em;
    margin: 0.5em 0;
    input{
        background-color: transparent;
    }
   label{
        background-color: transparent;
        font-weight: 100;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: slateblue;
    }
  }