:root{
    // --------------------------
    // Colores generales
    // --------------------------
    --clr-white:        #fff;
    --clr-light-gray:   #aaa;
    --clr-dark-gray:    #666;
    --clr-black:        #000;
    --clr-blue:         #0088AA; // -- clr - blue
    --clr-orange:       #FF6600; // -- clr - orange
    --clr-lightOrange:  #e6c877; // -- clr -
    --clr-red :         #d30000;
    --clr-yellow:       #f7f700;
    --clr-gold:         #ffd700;
    --clr-green:        #065a38;
    
    // --clr-primary:      var(--clr-blue);
    // --clr-secondary:    var(--clr-Orange);
    
    // --------------------------
    // Nosotros
    // --------------------------
    --clr-1:            #f25c00; // Orange
    --clr-2:            #ec4559; // Pink-red
    --clr-3:            #bf4686; // Fucsia
    --clr-4:            #41537f; // Cobalt-Blue
    --clr-5:            #2f4858; // Dark-Cobalt-Blue
    --clr-6:            #008000; // Green
}